@define-color rosewater rgb(245, 224, 220);
@define-color flamingo rgb(242, 205, 205);
@define-color pink rgb(245, 194, 231);
@define-color mauve rgb(203, 166, 247);
@define-color red rgb(243, 139, 168);
@define-color maroon rgb(235, 160, 172);
@define-color peach rgb(250, 179, 135);
@define-color yellow rgb(249, 226, 175);
@define-color green rgb(166, 227, 161);
@define-color teal rgb(148, 226, 213);
@define-color sky rgb(137, 220, 235);
@define-color sapphire rgb(116, 199, 236);
@define-color blue rgb(137, 180, 250);
@define-color lavender rgb(180, 190, 254);
@define-color text rgb(205, 214, 244);
@define-color subtext1 rgb(186, 194, 222);
@define-color subtext0 rgb(166, 173, 200);
@define-color overlay2 rgb(147, 153, 178);
@define-color overlay1 rgb(127, 132, 156);
@define-color overlay0 rgb(108, 112, 134);
@define-color surface2 rgb(88, 91, 112);
@define-color surface1 rgb(69, 71, 90);
@define-color surface0 rgb(49, 50, 68);
@define-color base rgb(30, 30, 46);
@define-color mantle rgb(24, 24, 37);
@define-color crust rgb(17, 17, 27);


@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'Iosevka Nerd Font Mono', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    border: 2px solid @surface1;
    border-radius: 0px;
    background-color: alpha(@mantle,.99);
}

#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}

#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 20px;
    border: none;
}
#input {
    all:unset;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
    padding: 20px;
    border: none;
    outline: none;
    color: @text;
    border: 2px solid @surface0;
    border-radius:0px;
    background-color: alpha(@base, 1);
}
#input image {
    border: none;
    color: @text;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @lavender;

}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(5,4,4, .25);
    border: none;
    border: 2px solid @surface0;
    border-radius: 0px;
    background-color: @base;
}
#entry:selected #text {
    color: @rosewater;
}
#entry:drop(active) {
    background-color: @base !important;
}
